<?xml version="1.0"?>
<ruleset name="Yamabiko Editor Tools">
	<description>WordPress Coding Standards for Yamabiko Editor Tools.</description>

	<file>.</file>

	<arg name="extensions" value="php"/>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress-Core"/>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
	</rule>
</ruleset>
