<?xml version="1.0"?>
<ruleset name="Yamabiko Editor Tools">
	<description>WordPress Coding Standards for Yamabiko Editor Tools.</description>

	<file>.</file>

	<arg name="extensions" value="php"/>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="yamabiko-editor-tools"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="yamabiko_editor_tools,YamabikoLab"/>
		</properties>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false"/>
		</properties>
	</rule>
</ruleset>
